@charset "utf-8";
html {
}
body {
}
/* header */
header {
    background: #186ac9;
}
#head {
    display: flex;
    height: 90px;
    align-items: center;
}
.user {
    display: flex;
    flex-grow: 1;
}
.user p {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    margin: auto 0;
    margin-left: auto;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}
#container {
    flex: 0 0 80%;
}
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* logo */
.logo {
    width: 110px;
}
/* アコーディオンメニュー */
nav {
    display: none;
    /* display: block; */
    position: absolute;
    top: 90px;
    right: 0;
    background: #fff;
    /* padding: 50px; */
    text-align: center;
}

nav ul li {
    width: 227px;
    padding: 1.3em;
    font-size: 22px;
    border: 1px solid #000;
}
nav ul li:hover {
    background: #00297e;
}
nav ul li a {
    color: #757575;
}

nav ul li:hover a {
    color: #fff;
}

.nav-open {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    position: relative;
}

/* 投稿一覧 */
.archives a img{
    width: 30px;
    height: 30px;
}

