@charset "utf-8";
html {
}
body {
}

/*  */
.flex {
    display: flex;
}
.j-c-center {
    justify-content: center;
}
.j-c-spacebetween {
    justify-content: space-between;
}
.f-d-column {
    flex-direction: column;
}
.t-a-center {
    text-align: center;
}

::placeholder {
    color: #dfdfdf;
}

/* header */
header {
    /* position: fixed; */
    width: 100%;
    z-index: 9999;
}
header h1 a img.login_atlas {
    margin: 0 auto;
    display: block;
    width: 150px;
}
header p.login_subttl {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

#head {
    display: flex;
    height: 90px;
    align-items: center;
    background-color: #0167c5;
}
.arrow {
    width: 50px;
    height: 50px;
}
.arrow::after {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 3px solid #fff;
    rotate: 62deg;
    right: 18px;
    top: 22px;
}
.arrow::before {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 3px solid #fff;
    rotate: 298deg;
    left: 21px;
    top: 22px;
}

.active.arrow::after {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 3px solid #fff;
    rotate: 298deg;
    right: 18px;
    top: 22px;
}
.active.arrow::before {
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 3px solid #fff;
    rotate: 62deg;
    left: 21px;
    top: 22px;
}

.user {
    display: flex;
    flex-grow: 1;
}
.user p {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    margin: auto 0;
    margin-left: auto;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}
#container {
    flex: 0 0 80%;
}
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: 100vh;

}

/* logo */
.logo {
    width: 110px;
}
/* アコーディオンメニュー */
nav {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    background: #fff;
    text-align: center;
}

nav ul li {
    width: 227px;
    padding: 1.3em;
    font-size: 22px;
    border: 1px solid #000;
}
nav ul li:hover {
    background: #00297e;
}
nav ul li a {
    color: #757575;
}

nav ul li:hover a {
    color: #fff;
}

.nav-open {
    color: #fff;
    font-size: 20px;
    position: relative;
}
/* サイドバー */
.auth_username {
    margin: 20px 0;
}
.btn {
    background-color: #186ac9;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    display: block;
    width: fit-content;
    min-width: 130px;
    height: fit-content;
    margin: 20px 0;
    margin-left: auto;
    color: #fff;
}
.search-btn {
    margin: 0 auto;
}
.side-bar {
    border-bottom: solid 1px #b0b0b0;
    margin-bottom: 20px;
    padding-left: 10px;
}

/* トップページ */

/* 投稿一覧 */
.post {
    padding: 20px;
    border-bottom: 1px solid #b0b0b0;
}
.new_post {
    max-width: 90%;
    margin: 0 auto;
}
.post_tine_btn {
    min-width: fit-content;
}
.post_submit {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.post-created_at {
    font-size: 12px;
}
.new_post form {
    width: 100%;
    margin-left: 20px;
}
.new_post_content {
    padding-top: 8px;
    /* 右下の//(サイズ変更機能)を消す */
    resize: none;
    /* フォーカスした際の青い枠線を消す */
    outline: none;
    width: calc(100%-20px);
    border: none;
    font-size: 18px;
}
.post-username {
    margin-bottom: 15px;
}
.post-archive {
    flex-grow: 1;
    padding: 0 20px;
}
.archives a img {
    width: 35px;
    height: 35px;
}
.archives {
    align-items: center;
    margin-top: 30px;
    justify-content: space-evenly;
}
.trash img.trash-btn {
    margin-left: 5px;
}
.trash:hover img.trash-btn {
    display: none;
}
.trash img.trash-h-btn {
    display: none;
}
.trash:hover img.trash-h-btn {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: -5px;
    margin-bottom: -8px;
}

/* モーダルウィンドウ */
.model {
    display: none;
}
.content {
    margin: 0 auto;
    padding: 40px;
}
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.modal__bg {
    background: rgb(0 0 0 / 7%);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
}
.modal_post {
    width: 600px;
    height: 180px;
}

/* 検索画面 */

.search_container,
.new_post {
    display: flex;
    padding: 50px;
    border-bottom: solid 8px #dfdfdf;
}
.search_box {
    width: 330px;
    height: 25px;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
}
.search_button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.keyword{
    font-size: 22px;
    padding-left: 70px;
    padding-top: 9px;
}
.search_post {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    margin: 0 20%;
}
.search_post_username {
    font-size: 25px;
    align-items: center;
}
.search_post img {
    padding-right: 20px;
}

.unfollow_btn {
    background-color: #d32e2e;
}
.follow_btn {
    background-color: #51acff;
}

.follow_follower_num{
    justify-content: space-between;
    width: 130px;
}

/* follow list */
.follow_list,
.follower_list,
.others_list{
    padding: 40px;
    border-bottom: 3px solid #dfdfdf;
}
.follow_list h2,
.follower_list h2{
font-size: 27px;
margin: auto 0;
margin-right: 40px;
}

.follow_list_img,
.follower_list_img,
.others_list_img{
    width: 50px;
    height: 50px;
    padding-right: 5px;
}

.follow_list_archive_img,
.follower_list_archive_img,
.others_list_archive_img
{
    width: 50px;
}

/* profile */
.profile_form{
    display: flex;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

.profile_form_img{
    margin-right: 30px;
}
.profile_form_contents:nth-child(2){
    padding-top: 12px;
}

.profile_form_content{
    padding-bottom: 50px;
    display: flex;
    font-size: 20px;
}

.profile_form_content label {
    width: 220px;
    display: block;
}

.profile_form_content input{
    font-size: 18px;
}

/* others profile */
.others_profile{
    padding-left: 10px;
    flex-grow: 1;
}

.others_profile dt{
    width: 150px;
    padding-bottom: 30px;
}

.others_list dd{
    flex-grow: 1;
}